@model AppVendas.Models.Produto

@{
    ViewData["Title"] = "Editar produto";
}

<div class="d-flex justify-content-between my-5 align-items-center">
    <span class="display-6  w-75 justify-contet-center">Editar produto</span>
</div>
<div class="col-md-12">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProdutoId" />
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label asp-for="ProdutoNome" class="control-label"></label>
                    <input asp-for="ProdutoNome" class="form-control" />
                    <span asp-validation-for="ProdutoNome" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-md-6">

                <div class="form-group">
                    <label asp-for="Valor" class="control-label"></label>
                    <input asp-for="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">

                <div class="form-group">
                    <label asp-for="CategoriaId" class="control-label"></label>
                    <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.CategoriaId"></select>
                    <span asp-validation-for="CategoriaId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-md-4">

                <div class="form-group">
                    <label asp-for="QtadeEstoque" class="control-label"></label>
                    <input asp-for="QtadeEstoque" class="form-control" />
                    <span asp-validation-for="QtadeEstoque" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <label>Cadastro Ativo</label>
                <select class="form-select" id="CadastroAtivo" name="CadastroAtivo">
                    <option selected>Selecione...</option>
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary d-flex align-items-center px-5 mt-3 w-100 justify-content-center py-3"><ion-icon name="save-outline" class="me-2"></ion-icon>Salvar</button>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <a asp-action="Index" class="btn btn-outline-info d-flex align-items-center px-5 mt-3 w-100 justify-content-center py-3">
                    <ion-icon name="arrow-back-outline" class="me-2 align-content-center"></ion-icon>
                    Voltar
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
